*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}


.bg-img{
    height: 100vh;
    background: url("/S-L-form/photos.png");
    background-size: cover;
    background-position: center;
    position: sticky;
    top: 0px;
}



.container-two{
    background: linear-gradient(to bottom,#FFD7A7,#FF9B21);

    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 3em;
}

.header-container >h1{
    font-size: 3em;
    text-transform: uppercase;
    color:#864a00;
}
.header-container >p{
    font-size: 1em;
    text-transform: uppercase;
    color: white;
}
.input-container{
    display: flex;
    margin-top: 2em;
}
.input-container >input{
    width: 100%;
    padding:1.5em;
    outline:none;
    border: none;
    border-radius: 8px 0px 0px 8px;
    -webkit-border-radius:8px 0px 0px 8px;
    -moz-border-radius:8px 0px 0px 8px;
    -ms-border-radius:8px 0px 0px 8px;
    -o-border-radius:8px 0px 0px 8px;
    font-size: 1em;
    color:grey;
    flex-basis:125em;
}

.input-container > button{
    width:100px;
    padding:1.5em;
    outline: none;
    border: none;
    border-radius: 0px 8px 8px 0px;
    -webkit-border-radius: 0px 8px 8px 0px;
    -moz-border-radius: 0px 8px 8px 0px;
    -ms-border-radius: 0px 8px 8px 0px;
    -o-border-radius: 0px 8px 8px 0px;
    font-size:1em;
    color:white;
    background-color: #ff9800;

}

.offer-container{
    background-color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    padding:2em;
    margin-top: 3em;

}
.offer-container >h1{
    font-size:1.7em;
    text-transform: capitalize;
}
.signup-container{
    display: flex;
    align-content: center;
    margin-top: 1em;
    align-items:center;

}
.signup-container > button {
    width: 10em;
    padding: 1em;
    outline: none;
    border: none;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    font-size: 1em;
    color: white;
    background-color: #FF9800;
}

.signup-container > p{
    color: black;
    padding-left: 1em;
}
@media only screen and (max-width: 1300px){

    .main-container{
      
        grid-template-columns: 1fr 2fr;
   
    }
    
   
    }



@media only screen and (max-width: 800px){

    
.main-container{
    display: grid;
    grid-template-columns: 1fr;
}

    .container-img{
        display: none;
    }

    .container-two{
        width: 100%;
        padding: 2em;
    }
}

